[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Rules compatible with ansible-lint project
[access "refs/*"]
	owner = group user/Anshu Kumar (host-anshu)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Anshu Kumar (host-anshu)
	label-Verified = -1..+1 group user/Anshu Kumar (host-anshu)
	push = group user/Anshu Kumar (host-anshu)
	read = group user/Anshu Kumar (host-anshu)
	rebase = group user/Anshu Kumar (host-anshu)
	removeReviewer = group user/Anshu Kumar (host-anshu)
	submit = group user/Anshu Kumar (host-anshu)
[access "refs/heads/*"]
	create = group user/Anshu Kumar (host-anshu)
	push = +force group user/Anshu Kumar (host-anshu)
	pushMerge = group user/Anshu Kumar (host-anshu)
	read = group user/Anshu Kumar (host-anshu)
[access "refs/tags/*"]
	push = group user/Anshu Kumar (host-anshu)
	push = +force group user/Anshu Kumar (host-anshu)
